@model FlightManager.Models.Flight

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationFrom" class="control-label"></label>
                <input asp-for="LocationFrom" class="form-control" />
                <span asp-validation-for="LocationFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationTo" class="control-label"></label>
                <input asp-for="LocationTo" class="form-control" />
                <span asp-validation-for="LocationTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalDate" class="control-label"></label>
                <input asp-for="ArrivalDate" class="form-control" />
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneType" class="control-label"></label>
                <input asp-for="PlaneType" class="form-control"></input>
                <span asp-validation-for="PlaneType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneId" class="control-label"></label>
                <input asp-for="PlaneId" class="form-control" />
                <span asp-validation-for="PlaneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PilotName" class="control-label"></label>
                <input asp-for="PilotName" class="form-control" />
                <span asp-validation-for="PilotName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableSeats" class="control-label"></label>
                <input asp-for="AvailableSeats" class="form-control" />
                <span asp-validation-for="AvailableSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableSeatsBusinessClass" class="control-label"></label>
                <input asp-for="AvailableSeatsBusinessClass" class="form-control" />
                <span asp-validation-for="AvailableSeatsBusinessClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
